{% extends "base.html" %}

{% block main_content %}
<a href="{{ url_for('home') }}">
    <button>
        Home
    </button>
</a>
<div id="form">
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        {{ form.user_id.label }}
        {{ form.user_id() }}
        {% for error in form.user_id.errors %}
            {{ error }}
        {% endfor %}
        <br/>
        {{ form.password.label }}
        {{ form.password() }}
        {% for error in form.password.errors %}
            {{ error }}
        {% endfor %}
        <br>
        {{ form.submit() }}
        <br/>
    </form>
</div>


{% endblock %}